/* General Reset */
body {
  background-color: #eef6f9;
  margin: 0;
  font-family: poppins;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #2d2727 0%, #1a1616 100%);
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(45deg, #ffa010, #ff7e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.text-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
}

.text-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffa010;
  transition: width 0.3s;
}

.text-link:hover::after {
  width: 100%;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.category,
.item {
  background-color: rgb(255 255 255);
  margin: 20px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  max-width: 300px;
}
.item:hover {
  background-color: #bbb;
  transform: scale(1.05);
}

.category img,
.item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: #007bff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

video {
  width: 100%;
  margin-top: 10px;
}

.reviews {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

footer {
  background-color: #333333;
  padding: 3rem 0;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 2rem;
}

.about-section,
.contact-section {
  flex: 1;
}

.about-section p {
  color: #d1d1d1;
  line-height: 1.6;
  margin-top: 1rem;
}

h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.contact-section p {
  color: #d1d1d1;
  margin-bottom: 0.5rem;
}

.social-links {
  margin-top: 1.5rem;
}

.social-links a {
  color: #d1d1d1;
  text-decoration: none;
  margin-right: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ffffff;
}

.copyright {
  text-align: center;
  color: #888888;
  padding-top: 2rem;
  border-top: 1px solid #444444;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-sections {
    flex-direction: column;
    gap: 2rem;
  }
}
